<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Monster Hunter World Database</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<section class="section">
  <div class="container">
    <p class="title is-3 is-spaced has-text-white">About</p>
    <p class="subtitle has-text-grey-light">This application uses data from the Monster Hunter World API.
      It provides detailed information on armors, weapons, and crafting materials.</p>

    <div class="block">
      <h2 class="title is-5 has-text-white">Data Sources</h2>
      <ul>
        <li>Armor Data: <a href="https://mhw-db.com/armor" target="_blank" class="has-text-info">https://mhw-db.com/armor</a></li>
        <li>Weapon Data: <a href="https://mhw-db.com/weapons" target="_blank" class="has-text-info">https://mhw-db.com/weapons</a></li>
      </ul>
    </div>
  </div>
</section>

</body>
</html>
