<h1>About Page</h1>
<p>This application uses data from the Monster Hunter World API to provide information on armors and weapons.</p>
<p>Data  includes:</p>
<ul>
  <li>Armor Data: <a href="https://mhw-db.com/armor" target="_blank">https://mhw-db.com/armor</a></li>
  <li>Weapon Data: <a href="https://mhw-db.com/weapons" target="_blank">https://mhw-db.com/weapons</a></li>
</ul>
