<h1>About This Application</h1>
<p>This application uses data from the Monster Hunter World API. It gives detailed information on armors and
  weapons including crafting materials.</p>
<p>Features include:</p>
<ul>
  <li>A Search and filter feature for finding specific armors and weapons.</li>
  <li>Details on weapon stats, armor sets, and crafting materials.</li>
</ul>
<p>Data includes:</p>
<ul>
  <li>Armor Data: <a href="https://mhw-db.com/armor" target="_blank">https://mhw-db.com/armor</a></li>
  <li>Weapon Data: <a href="https://mhw-db.com/weapons" target="_blank">https://mhw-db.com/weapons</a></li>
</ul>